@import '../../breakpoints/css/breakpoints.scss';
@import '../../media-queries/css/media-queries.scss';

$font-cinzel: "Cinzel", serif;
$font-poppins: "Poppins", sans-serif;
$font-fallback: "Arial", sans-serif;
