$spacer-0: 0px;
$spacer-5: 5px;
$spacer-10: 10px;
$spacer-15: 15px;
$spacer-20: 20px;
$spacer-25: 25px;
$spacer-30: 30px;
$spacer-40: 40px;
$spacer-50: 50px;
$spacer-60: 60px;
$spacer-70: 70px;
$spacer-80: 80px;
$spacer-90: 90px;
$spacer-100: 100px;
$spacer-120: 120px;
$spacer-150: 150px;
