<section class="l-outer">
	<div class="container">
		<div class="l-inner">
			<div class="row">
				<div class="col">
					<h1>Hello World!</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eligendi eius quisquam voluptate
						incidunt accusantium tenetur recusandae qui, velit doloremque?
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="l-outer">
	<div class="container">
		<div class="l-inner">
			<div class="row">
				<div class="col">
					<h1>Hello World!</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eligendi eius quisquam voluptate
						incidunt accusantium tenetur recusandae qui, velit doloremque?
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
