<header class="l-outer">
	<div class="container">
		<div class="l-inner">
			<div class="row">
				<div class="col d-flex flex-column align-items-center">
					<app-header></app-header>
				</div>
			</div>
		</div>
	</div>
</header>
<section class="l-outer">
	<div class="container">
		<div class="l-inner">
			<div class="row">
				<div class="col d-flex flex-column align-items-center">
					<h1>Hello World!</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eligendi eius quisquam voluptate
						incidunt accusantium tenetur recusandae qui, velit doloremque?
					</p>
					<app-button [text]="'Alohomora'"></app-button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="l-outer">
	<div class="container">
		<div class="l-inner">
			<div class="row">
				<div class="col d-flex flex-column align-items-center">
					<h1>Hello World!</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eligendi eius quisquam voluptate
						incidunt accusantium tenetur recusandae qui, velit doloremque?
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
