@import '../../../utils/typos/css/typos.scss';

body {
	@include font('body');

	margin: 0;
	overflow-x: hidden;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}
