@import '../../../../shared/utils/breakpoints/css/breakpoints.scss';
@import '../../../../shared/utils/colors/css/colors.scss';
@import '../../../../shared/utils/spacings/css/spacings.scss';
@import '../../../../shared/utils/typos/css/typos.scss';

$border-width: 3px;
$transition-definition: 0.3s ease;

.button {
	@include font('button');

	background-color: transparent;
	border: $border-width solid $black;
	margin-top: $spacer-15;
	padding: $spacer-5 $spacer-40;
	text-transform: uppercase;
	transition: background-color $transition-definition, color $transition-definition;

	&:focus {
		outline: $border-width dotted $black;
		outline-offset: $spacer-10;
	}

	&:hover {
		background-color: $black;
		color: $white;
		cursor: pointer;
	}

	@media (min-width: $bp-md) {
		margin-top: $spacer-30;
		padding: $spacer-10 $spacer-60;
	}
}
